
@font-face {
  font-family: 'Midan';
  src: url('Midan.eot?#iefix') format('embedded-opentype'),  url('Midan.woff') format('woff'), url('Midan.ttf')  format('truetype'), url('Midan.svg#Midan') format('svg');
  font-weight: normal;
  font-style: normal;
}
